@use "src/styles/Colors.module";
@use "src/styles/Layout.module";
@use "src/styles/Common.module";
@use "src/styles/Fonts.module";

.container {
  @include Layout.flex-column;
  width: 100%;
  z-index: 10;
  padding-top: 12px;
}

.topLogo {
  @include Layout.flex-row;
  @include Layout.center-align-items;
  padding-left: 12px;
  gap: 6px;
}

.topLogoIcon {
  svg {
    width: 36px;
    height: 36px;

    //path {
    //  fill: Colors.$secondary-color;
    //}
  }

  &:hover {
    background-color: unset;
    border-radius: 0;
  }
}

.title {
  @include Fonts.font-semi-bold-large;
  //color: Colors.$secondary-text-color;
}

.sectionsContainer {
  @include Layout.flex-column;
  @include Layout.center-align-items;
  margin-top: 24px;
}
