.menuContainer {
  position: relative;
  display: inline-block;
}

.menuButton {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}
