@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Common.module";
@use "src/styles/Fonts.module";
@use "src/styles/Media.module";

.header {
  @include Layout.flex-row;
  position: relative;
  width: calc(100% - 48px);
  padding: Common.$medium-padding Common.$medium-padding Common.$medium-padding
    8px;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  @include Media.media-xs-devices {
    padding: Common.$small-padding;
    width: calc(100% - 32px);
  }
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 16px;

  @include Media.media-xs-devices {
    margin-left: 0;
  }
}

.headerContent {
  @include Layout.flex-column;
  gap: 6px;
  margin-left: 8px;
  margin-top: 4px;

  .name {
    @include Fonts.font-semi-bold-medium;

    @include Media.media-xs-devices {
      @include Fonts.font-semi-bold-normal;
    }
  }

  .to {
    @include Fonts.font-small;
    color: Colors.$secondary-text-color;
  }

  @include Media.media-xs-devices{
    gap: 4px;
  }
}

.mailId {
  @include Fonts.font-moderate-normal;
  color: Colors.$secondary-text-color;
  margin-left: 24px;
  margin-top: 5px;
}

.time {
  @include Fonts.font-small;
  color: Colors.$secondary-text-color;
  position: absolute;
  right: 0px;
  margin-top: 5px;
}
