@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Common.module";
@use "src/styles/Fonts.module";

.container {
  @include Layout.flex-row();
  background-color: Colors.$background-color;
  box-shadow: Common.$primary-box-shadow;
  padding: Common.$large-padding;
  border-radius: 12px;
  width: inherit;
  gap: 24px
}

.content {
  @include Layout.flex-column();
  gap: 8px
}

.title {
  @include Fonts.font-semi-bold-large;
}

.count {
  @include Fonts.font-bold-mammoth;
}

.icon {
  background-color: Colors.$selected-card-color !important;
  border-radius: 14px !important;
  padding: 16px;
  svg {
    width: 40px;
    height: 40px;
    path {
      fill: Colors.$primary-color !important;
    }
  }
}
