@use "src/styles/Layout.module";
@use "src/styles/Common.module";
@use "src/styles/Colors.module";
@use "src/styles/Media.module";

.container {
  @include Layout.center-align;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: Colors.$primary-color;
  position: fixed;
  z-index: 1100;
  right: 2em;
  bottom: 2em;
}

.icon {
  svg {
    path {
      fill: Colors.$background-color;
    }
  }

  &:hover {
    background-color: unset !important;
    border-radius: unset !important;
  }
}
