@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Common.module";
@use "src/styles/Media.module";

.container {
  @include Layout.flex-column;
  background-color: Colors.$secondary-background-color;
  z-index: 9;
  flex: 1;
}

.innerContainer {
  @include Layout.flex-column;
  height: calc(100vh - 68px);
  border-radius: 6px;
  position: relative;
  //box-shadow: rgba(58, 53, 65, 0.1) 0px 2px 10px 0px;
  transition: padding 0.25s ease-in-out 0s;
  //margin: 24px;
}

.listContainer {
  overflow-y: scroll;
  @include Layout.flex-column;
  height: calc(100vh - 124px);
}
