@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Common.module";
@use "src/styles/Media.module";

.container {
  @include Layout.flex-column;
  background-color: Colors.$secondary-background-color;
  z-index: 9;
  flex: 1;
}

.innerContainer {
  @include Layout.flex-column;
  height: calc(100vh - 67px);
  border-radius: 6px;
  position: relative;
  transition: padding 0.25s ease-in-out 0s;

  @include Media.media-xs-devices {
    height: calc(100vh - 52px);
  }
}

.listContainer {
  overflow-y: scroll;
  @include Layout.flex-column;
  height: calc(100vh - 124px);

  @include Media.media-xs-devices {
    height: calc(100vh - 92px);
  }
}
