@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Common.module";

.container {
  @include Layout.flex-column;
  background-color: Colors.$secondary-background-color;
  z-index: 9;
  flex: 1;
}

.innerContainer {
  padding: Common.$small-padding Common.$large-padding Common.$large-padding;
}

.listContainer {
  @include Layout.flex-column;
  overflow-y: scroll;
  height: calc(100vh - 182px);
  padding: 0px 12px Common.$large-padding Common.$large-padding;
}
