@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Common.module";
@use "src/styles/Fonts.module";
@use "src/styles/Media.module";

.container {
  @include Layout.flex-row;
  @include Layout.center-align-items;
  background-color: Colors.$background-color;
  border-bottom: Common.$border;
  border-right: Common.$border;
  padding: Common.$medium-padding;
  width: calc(100% - 36px);
  position: relative;
  cursor: pointer;
  gap: 24px;

  &:hover {
    transform: scale(1);
  }

  @include Media.media-xs-devices {
    padding: Common.$medium-padding Common.$small-padding Common.$medium-padding
      Common.$medium-padding;
    width: calc(100% - 29px);
    gap: 16px;
    border-right: none;
  }
}

.contentContainer {
  margin-right: 100px;

  @include Media.media-xs-devices {
    @include Layout.flex-column;
    gap: 4px;
    margin-right: 80px;
  }
}

.readContainer {
  background-color: Colors.$secondary-background-color;
  box-shadow: Colors.$border-color;
}

.selectedContainer {
  background-color: Colors.$selected-card-color;
  box-shadow: Common.$primary-box-shadow;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.name {
  @include Fonts.font-semi-bold-normal;
}

.time {
  @include Fonts.font-small;
  color: Colors.$secondary-text-color;
  position: absolute;
  right: 24px;
  @include Media.media-xs-devices {
    right: 16px;
  }
}

.subject {
  @include Fonts.font-normal;
  color: Colors.$secondary-text-color;
}
