@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Common.module";
@use "src/styles/Fonts.module";
@use "src/styles/Media.module";

.container {
  @include Layout.flex-column;
  z-index: 9;
  flex: 1;
}

.topContainer {
  @include Layout.flex-row;
  @include Layout.center-align-items;
  background-color: Colors.$background-color;
  height: 56px;
  padding-left: Common.$large-padding;
  padding-right: Common.$medium-padding;
  gap: 16px;
  border-bottom: Common.$border;

  @include Media.media-xs-devices {
    padding-left: Common.$extra-small-padding;
    padding-right: Common.$extra-small-padding;
  }
}

.contentContainer {
  @include Layout.flex-column;
  margin: Common.$large-margin;
  background-color: Colors.$background-color;
  box-shadow: Common.$card-box-shadow;
  transition: right 2s ease-in-out;
  border-radius: 8px;

  @include Media.media-xs-devices {
    margin: Common.$small-margin;
  }
}

.hideContainer {
  display: none !important;
}

.innerContainer {
  @include Layout.flex-column;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 244px);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  @include Media.media-xs-devices {
    height: calc(100vh - 146px);
  }
}

.subject {
  @include Fonts.font-semi-bold-large;

  @include Media.media-xs-devices {
    @include Fonts.font-semi-bold-medium;
  }
}
