@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Common.module";
@use "src/styles/Fonts.module";

.container {
  @include Layout.flex-column;
  background-color: Colors.$background-color;
  z-index: 9;
  flex: 1;
  box-shadow: Common.$primary-box-shadow;
  transition: right 2s ease-in-out;
}

.hideContainer {
  display: none !important;
}

.innerContainer {
  @include Layout.flex-column;
  padding: Common.$large-padding;
  width: calc(100% - 48px);
  overflow-y: scroll;
  height: calc(100vh - 148px);
}

.subject {
  @include Fonts.font-semi-bold-large;
  margin-top: 24px;
}

.body {
  @include Fonts.font-normal;
  margin-top: 24px;
  width: calc(100% - 48px);
}
