@use "../../styles/Layout.module";
@use "../../styles/Common.module";
@use "../../styles/Colors.module";
@use "../../styles/Media.module";

.container {
  @include Layout.flex-row;
  @include Layout.full-width;
  background-color: Colors.$secondary-background-color;
}

.outletContainer {
  @include Layout.full-width;
  flex-grow: 1;
  margin-top: Common.$header-height;

  @include Media.media-xs-devices {
    margin-top: Common.$mobile-header-height;
  }
}
