@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Common.module";
@use "src/styles/Fonts.module";
@use "src/styles/Media.module";

.container {
  @include Layout.flex-row;
  @include Layout.center-align-items;
  height: 56px;
  padding-left: 6px;
  background-color: Colors.$ternary-background-color;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  gap: 16px;
  position: relative;

  @include Media.media-xs-devices {
    height: 48px;
  }
}

.leftIcon {
}

.sendIcon {
  position: absolute;
  right: 12px;
  svg {
    width: 20px;
    height: 20px;
  }
}

.title {
  @include Fonts.font-semi-bold-medium;

  @include Media.media-xs-devices {
    @include Fonts.font-semi-bold-normal;
  }
}
