@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Common.module";
@use "src/styles/Fonts.module";
@use "src/styles/Media.module";

.container {
  @include Layout.flex-column;
  background-color: Colors.$secondary-background-color;
  padding: Common.$large-padding;
  gap: Common.$large-margin;
  overflow-y: scroll;
  height: calc(100% - 63px);

  @include Media.media-xs-devices {
    height: calc(100% - 32px);
    padding: Common.$medium-padding;
    gap: Common.$medium-padding;
  }
}

.innerContainer {
  @include Layout.flex-row;
  gap: Common.$large-margin;

  @include Media.media-xs-devices {
    gap: Common.$medium-padding;
    @include Layout.flex-column;
  }
}

.headerContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.title {
  @include Fonts.font-semi-bold-medium;

  @include Media.media-xs-devices {
    margin-left: 2px;
  }
}

.dashboardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: Common.$large-padding;

  @include Media.media-xs-devices {
    gap: Common.$medium-padding;
  }
}

.chartContainer {
  @include Layout.flex-column;
  gap: 16px;
  width: 50%;

  @include Media.media-xs-devices {
    width: 100%;
  }
}
