@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Common.module";
@use "src/styles/Fonts.module";
@use "src/styles/Media.module";

.container {
  @include Layout.flex-column;
  background-color: Colors.$secondary-background-color;
  padding: Common.$large-padding;
  gap: Common.$large-margin;
  overflow-y: scroll;
  height: calc(100% - 63px);

  @include Media.media-xs-devices {
    height: calc(100% - 32px);
    padding: Common.$medium-padding;
    gap: Common.$medium-padding;
  }
}

.innerContainer {
  @include Layout.flex-row;
  gap: Common.$large-margin;

  @include Media.media-xs-devices {
    gap: Common.$medium-padding;
    @include Layout.flex-column;
  }
}

.headerContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.title {
  @include Fonts.font-semi-bold-medium;

  @include Media.media-xs-devices {
    margin-left: 2px;
  }
}

.dashboardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: Common.$large-padding;

  @include Media.media-xs-devices {
    gap: Common.$medium-padding;
  }

  .dashboardItem {
    @include Layout.flex-column;
    background-color: Colors.$background-color;
    color: Colors.$text-color;
    overflow: hidden;
    border: 1px solid Colors.$analytics-border;
    border-radius: 8px;
    padding: 24px;

    @include Media.media-xs-devices {
      width: 100%;
    }
  }

  .dashboardItemTitle {
    @include Fonts.font-normal;
    color: Colors.$analytics-title;
    font-weight: 400;
  }

  .countContainer {
    @include Layout.flex-row;
    @include Layout.center-align-items;
    gap: 10px;
  }

  .dashboardItemCount {
    @include Fonts.font-semi-bold-huge;
    font-weight: 600;
    margin-top: 6px;
  }

  .dashboardItemInfo {
    margin-top: 18px;
    @include Fonts.font-small;
    color: Colors.$analytics-title;
    font-weight: 400;
    .color {
      color: Colors.$primary-color;
    }
  }

  .chip {
    @include Layout.center-align;
    @include Layout.flex-row;
    height: 24px;
    color: Colors.$background-color;
    background-color: Colors.$warning;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    gap: 8px;
    margin-top: 5px;

    .icon {
      width: 12px;
      height: 12px;
      padding: 0;

      svg path {
        fill: Colors.$background-color;
      }
    }

    .count {
      color: Colors.$background-color;
      @include Fonts.font-small;
    }
  }
}

.chartContainer {
  @include Layout.flex-column;
  gap: 16px;
  width: 50%;

  @include Media.media-xs-devices {
    width: 100%;
  }
}

.monthlyBarChart {
  @include Layout.flex-column;
  background-color: Colors.$background-color;
  color: Colors.$text-color;
  border: 1px solid Colors.$analytics-border;
  border-radius: 8px;
}

.chartHeader {
  @include Layout.flex-row;
  @include Layout.center-align-items;
  justify-content: space-between;
  height: 34px;

  .chartTitle {
    @include Fonts.font-semi-bold-medium;

    @include Media.media-xs-devices {
      @include Fonts.font-semi-bold-normal;
      margin-left: 2px;
    }
  }

  .buttonList {
    @include Layout.flex-row;
  }
}
