@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Fonts.module";
@use "src/styles/Common.module";
@use "src/styles/Media.module";

.container {
  align-items: center;
  background-color: Colors.$background-color;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  gap: 6px;
  justify-content: space-between;
  padding: 3px;
  border: 1px solid Colors.$ternary-border-color;
  min-width: 300px;
}

.input {
  border: none;
  flex: 1 1 auto;
  outline: none;
  min-width: 0;
  text-overflow: ellipsis;
  @include Fonts.font-normal;

  &:focus::placeholder {
    visibility: hidden;
  }
}

.icon {
  @include Media.media-xs-devices {
    padding: 0 !important;
    margin-top: 2px;
  }

  svg {
    width: 20px;
    height: 20px;

    @include Media.media-xs-devices {
      path {
        stroke: Colors.$placeholder-color;
      }
    }
  }
}
