@use "src/styles/Colors.module";
@use "src/styles/Fonts.module";
@import "src/styles/Colors.module";
@import "src/styles/Global.module";

.app {
  text-align: center;
}

.appLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.appHeader {
  background-color: Colors.$background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.paragraph {
  color: Colors.$text-color;
  @include Fonts.font-bold-mammoth();
}

.appLink {
  color: Colors.$text-color;
  @include Fonts.font-mammoth();
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
