@use "src/styles/Layout.module";
@use "src/styles/Colors.module";
@use "src/styles/Media.module";
@use "src/styles/Fonts.module";

.chartContainer {
  @include Layout.flex-column;
  gap: 16px;
  width: 50%;

  @include Media.media-xs-devices {
    width: 100%;
  }
}

.chartHeader {
  @include Layout.flex-row;
  @include Layout.center-align-items;
  justify-content: space-between;
  height: 34px;

  .chartTitle {
    @include Fonts.font-semi-bold-medium;

    @include Media.media-xs-devices {
      @include Fonts.font-semi-bold-normal;
      margin-left: 2px;
    }
  }
}

.barChart {
  @include Layout.flex-column;
  background-color: Colors.$background-color;
  color: Colors.$text-color;
  border: 1px solid Colors.$analytics-border;
  border-radius: 8px;
  padding-top: 24px;
  padding-bottom: 24px;
}
